@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    color: white;
}

.header {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 1024px) {
    .header {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

#background {
    width: 100%;
    height: 100%;
    z-index: -100;
    background-image: url("/pruple-gradient.webp");
    background-size: cover;
    background-position: center;
    position: fixed;
}

#background > div {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}